# Sécurité (NE JAMAIS COMMIT)
.env
RSA_Key/

# Terraform (Fichiers locaux et secrets)
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Python cache
__pycache__/
*.pyc

# Divers
tree.txt